/* 2 columns - no gutter */
/* to add a gutter in Bootstrap react, you simply incorporate a border between the two columns - that's the best way to do this. */

#left {
  text-align: center;
  background-color: #f7dbd7;
  /* width: 100%; */
  height: 100%;
  /* border: 2px solid white;
  border-right: 5px solid white; */
}

@media (min-width: 768px) {
  #left {
    height: 50vh;
  }
}

@font-face {
  font-family: "BalooTamma2";
  src: local("BalooTamma2"),
    url(./fonts/BalooTamma2-Regular.ttf) format("truetype");
}

#flowers {
  height: 400px;
}

h1 {
  font-family: BalooTamma2;
}

.title {
  font-size: 50px;
}

#right {
  text-align: center;
  background-color: #fcfcfc;
  /* width: 100%; */
  height: 50vh;
  /* border: 2px solid white;
  border-left: 5px solid white; */
}

img {
  margin-top: 10%;
  border-radius: 3%;
  /* border: 4px solid black; */
  box-shadow: 2px 2px 5px #888888;
}

.leftTitle {
  margin-bottom: 5%;
  text-align: center;
  font-size: 100px;
}

.rightTitle {
  margin-top: 5%;
  font-size: 50px;
}

.Col1 {
  background-color: #f7dbd7;
  height: 100vh;
}

p {
  text-align: left;
  margin-top: 5%;
  padding: 4%;
}
